@import "assets/styles/breakpoints";

.TopBar {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.TopBar__title {
  text-align: center;
}