@import "assets/styles/breakpoints";

.Search {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 50px auto;
}

.Search__loader {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search__gist {
  border: 1px solid #fde6e6;
  padding: 15px;
  background: #ffffff;
  margin-bottom: 10px;
  color: #9e6702;
}

.Search__title {
  text-align: center;
}

.Search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-bottom: 15px;
  }
}

.Search__forks {
  display: flex;
  //justify-content: center;
  align-items: center;
}

.Search__forker-image {
  max-width: 30px;
  margin-right: 10px;
}

.Search__forks-title {
  margin-top: 10px;
}

.Search__fork-item {
  margin-top: 5px;
}